<!-- End Content -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="logo-footer inline-block"><a href="#"><img src="../images/home/home1/logo-footer.png" alt="" /></a></div>
            <ul class="menu-footer list-inline-block inline-block">
                <li><a href="/home" class="white">Home </a></li>
                <li><a href="/about" class="white">About MicourVisions</a></li>
                <li><a href="/contact" class="white">Contact Us</a></li>
                <li><a href="/shop/list-view" class="white">Visit the shop</a></li>
            </ul>
        </div>
    </div>
    <!-- End Footer Top -->
    <div class="footer-main">
        <div class="container">
            <div class="list-footer-box">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="footer-box">
                            <h2 class="title-footer title18 white">Contact Us</h2>
                            <div class="contact-footer-box">
                                <p class="desc smoke"><i class="white icon ion-ios-location"></i>MicourVisions Inc.
                                    Samora Machel St,185 Long Chen Plaza, Belvedere North, Harare</p>
                                <p class="desc smoke"><i class="white icon ion-android-mail"></i><a href="mailto:micourvisions@gmail.com"
                                        class="smoke">micourvisions@gmail.com</a></p>
                                <p class="desc smoke"><i class="white icon ion-android-call"></i>+263774709370</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="footer-box">
                                    <h2 class="title-footer title18 white">Information</h2>
                                    <ul class="list-none footer-menu-box">
                                        <li><a href="/about" class="smoke">About</a></li>
                                        <li><a href="/contact" class="smoke">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="footer-box">
                                    <h2 class="title-footer title18 white">Social Network</h2>
                                    <ul class="list-none footer-menu-box">
                                        <li><a href="https://instagram.com" class="smoke" target="_blank">Instagram <i
                                                    class="fa fa-instagram"></i></a> </li>
                                        <li><a href="https://facebook.com" class="smoke" target="_blank">Facebook <i
                                                    class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://twitter.com" class="smoke" target="_blank">Twitter <i
                                                    class="fa fa-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="design-copyright">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p class="desc white copyright">@2018 MicourVisions Shop.</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p class="desc white design-by text-right">Design by: <a href="sattech.co.zw" class="smoke">Sattech.co.zw</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
<div class="wishlist-mask">
    <div class="wishlist-popup">
        <span class="popup-icon"><i class="fa fa-bullhorn" aria-hidden="true"></i></span>
        <p class="wishlist-alert">"FB-Tech Product" was added to wishlist</p>
        <div class="wishlist-button">
            <a href="#">Continue Shopping (<span class="wishlist-countdown">5</span>)</a>
            <a href="#">Go To Shopping Cart</a>
        </div>
    </div>
</div>
<!-- End Wishlist Mask -->
<a href="#" class="scroll-top dark"><i class="icon ion-android-navigate"></i></a>