<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="../images/home/home1/logo.ico" >
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="FB-Tech is new Html theme that we have designed to help you transform your store into a beautiful online showroom. This is a fully responsive Html theme, with multiple versions for homepage and multiple templates for sub pages as well" />
    <meta name="keywords" content="FB-Tech,7uptheme" />
    <meta name="robots" content="noodp,index,follow" />
    <meta name='revisit-after' content='1 days' />
    <title>MiCourVision | Home </title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/libs/ionicons.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/libs/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/libs/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/libs/jquery.fancybox.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/libs/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/libs/owl.carousel.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/libs/owl.transitions.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/libs/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/libs/owl.theme.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/libs/animate.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/libs/hover.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/color.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../css/theme.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../css/responsive.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../css/browser.css" media="all" />
    <!-- <link rel="stylesheet" type="text/css" href="../css/rtl.css" media="all"/> -->
</head>

<body class="preload">
    <div class="wrap">
        {{{body}}}
    </div>
    <script src="../js/libs/jquery-3.3.1.min.js"></script>
    <script src="../js/libs/bootstrap.min.js"></script>
    <script src="../js/libs/jquery.fancybox.min.js"></script>
    <script src="../js/libs/jquery-ui.min.js"></script>
    <script src="../js/libs/owl.carousel.min.js"></script>
    <script src="../js/libs/jquery.jcarousellite.min.js"></script>
    <script src="../js/libs/jquery.elevatezoom.min.js"></script>
    <script src="../js/libs/popup.min.js"></script>
    <script src="../js/libs/timecircles.min.js"></script>
    <script src="../js/libs/wow.min.js"></script>
    <script src="../js/theme.js"></script>
    <script src="../js/main.js"></script>
    <script>
        function addtoWishlist() {
                $('.wishlist-mask').fadeIn();
                var counter = 5;
                var popup;
                popup = setInterval(function () {
                    counter--;
                    if (counter < 0) {
                        clearInterval(popup);
                        $('.wishlist-mask').hide();
                    } else {
                        $(".wishlist-countdown").text(counter.toString());
                    }
                }, 1000);
            }
    </script>
</body>

</html>