<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="FB-Tech is new Html theme that we have designed to help you transform your store into a beautiful online showroom. This is a fully responsive Html theme, with multiple versions for homepage and multiple templates for sub pages as well" />
    <meta name="keywords" content="FB-Tech,7uptheme" />
    <meta name="robots" content="noodp,index,follow" />
    <meta name='revisit-after' content='1 days' />
    <title>MiCourVision | Home </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="icon" href="../images/home/home1/logo-footer.png">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,700,300'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>

    <link rel="stylesheet" href="../css/style.css">
    <!-- <link rel="stylesheet" type="text/css" href="../css/rtl.css" media="all"/> -->

</head>

<body class="preload">
    <div class="wrap">
        {{{body}}}
    </div>
    <script src="../js/libs/jquery-3.3.1.min.js"></script>
    <script src="../js/libs/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
    <script>
        function addtoWishlist() {
            $('.wishlist-mask').fadeIn();
            var counter = 5;
            var popup;
            popup = setInterval(function () {
                counter--;
                if (counter < 0) {
                    clearInterval(popup);
                    $('.wishlist-mask').hide();
                } else {
                    $(".wishlist-countdown").text(counter.toString());
                }
            }, 1000);
        }
    </script>
</body>

</html>