<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="FB-Tech is new Html theme that we have designed to help you transform your store into a beautiful online showroom. This is a fully responsive Html theme, with multiple versions for homepage and multiple templates for sub pages as well" />
    <meta name="keywords" content="FB-Tech,7uptheme" />
    <meta name="robots" content="noodp,index,follow" />
    <meta name='revisit-after' content='1 days' />
    <title>MiCourVision | Home </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="icon" href="../images/home/home1/logo-footer.png">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,700,300'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>

    <link rel="stylesheet" href="../css/style.css">
    <!-- <link rel="stylesheet" type="text/css" href="../css/rtl.css" media="all"/> -->
    <style>
        /* Style The Dropdown1 Button */
        .dropbtn {
            text-decoration: none;
    
        }
    
        /* The container <div> - needed to position the dropdown1 content */
        .dropdown1 {
            position: relative;
            display: inline-block;
        }
    
        /* Dropdown1 Content (Hidden by Default) */
        .dropdown1-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
    
        }
    
        /* Links inside the dropdown1 */
        .dropdown1-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
    
        /* Change color of dropdown1 links on hover */
        .dropdown1-content a:hover {
            background-color: #f1f1f1
        }
    
        /* Show the dropdown1 menu on hover */
        .dropdown1:hover .dropdown1-content {
            display: block;
        }
    </style>
</head>

<body class="preload">
    <div class="wrap">
        {{{body}}}
    </div>
    <script src="../js/libs/jquery-3.3.1.min.js"></script>
    <script src="../js/libs/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>