<div class="signup__container">
    <div class="container__child signup__thumbnail">
        <div class="thumbnail__content text-center">
            <h1 class="heading--primary">Welcome to MiCourVision.</h1>
        </div>

        <div class="thumbnail__links">
            <div class="thumbnail__content text-center">
                <h2 class="heading--secondary">Are you ready to join the elite?</h2>
            </div>
            <br>
            <ul class="list-inline m-b-0 text-center">
                <li><a href="https://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div>
        <div class="signup__overlay"></div>
    </div>
    <div class="form container__child signup__form">
        <div id="login" class="active">
            <div style="height: 50px"></div>

            <h1>Sign In</h1>
            <div style="height: 20px"></div>

            <form action="/user/signin" method="post">

                <div class="field-wrap">
                    <label>
                        Email Address<span class="req">*</span>
                    </label>
                    <input type="email" class="field-wrap2" name="email" required autocomplete="off" />

                </div>
                {{#if hasErrors}}
                {{#each message}}
                <p id="msg" class="alert alert-danger" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                    {{this}}
                </p>

                {{/each}}
                {{/if}}
                <div class="field-wrap">
                    <label>
                        Password<span class="req">*</span>
                    </label>
                    <input type="password" class="field-wrap2" name="password" required autocomplete="off" />
                </div>
                <div style="height: 30px"></div>

                <p class="forgot"> <a href="#">Forgot Password?</a> | <a href="/user/signup">Don't have an account?</a></p>
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <button class="button button-block" />Log In</button>

            </form>

        </div>
    </div> <!-- /form -->
</div>