{{>header}}
<!-- End Header -->
<section id="content">
    <div class="container">
        <div class="content-pages">
            <div class="content-about">
                <h2 class="title30 text-uppercase font-bold">about us</h2>
                <p class="desc">MiCour Visions is a private company established and incorporated in 2018. We have grown
                    consistently since inception
                    and today we offer a wide range of Computer Systems, Products, Services and Solutions.
                    With qualified and expert staff to provide computing solutions for your business, MiCour Visions
                    strives to provide
                    quality, before, during and after sales service.
                    We would welcome the opportunity to listen to your requirements. Should you wish to discuss your
                    company requirements
                    or want to enquire about the products and services we can provide, please do not hesitate to
                    contact our Office.
                </p>
                <p class="blockquote silver">
                    Our mission id to add value and to contribute to our clients' long term success and competitive
                    strength by delivering an honest,
                    transparent, credible, professional service and quality products.
                </p>
                <div class="about-why-choise">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <h2 class="title18 rale-font text-uppercase font-bold">Our Services</h2>
                            <div class="about-accordion toggle-tab">
                                <div class="item-toggle-tab active">
                                    <div class="toggle-tab-title"><span class="bg-color"><i class="icon ion-trophy"></i></span>
                                        <h2 class="navi">Hardware & Software Sales & Support</h2>
                                    </div>
                                    <p class="desc toggle-tab-content silver">Purchasing computer hardware and software
                                        is an important investment. MICOUR VISIONS will help you get the most value
                                        from your investment by performing upgrades, repairs, and installations to your
                                        hardware and software. MICOUR VISIONS
                                        is also a full-service reseller of computer hardware and software. We provide
                                        computer hardware and software at a much
                                        lower price than normal, thereby reducing your costs.</p>
                                </div>
                                <div class="item-toggle-tab">
                                    <div class="toggle-tab-title"><span class="bg-color"><i class="icon ion-ribbon-b"></i></span>
                                        <h2 class="navi">Network Installation & Support</h2>
                                    </div>
                                    <p class="desc toggle-tab-content silver">With years of experience installing and
                                        supporting Novell, Windows NT, and Unix networks, MICOUR VISIONS will tailor a
                                        networking solution to your company's specific needs. In addition, our service
                                        to you does not end after the network is
                                        installed. MICOUR VISIONS provides a complete suite of network support options
                                        to ensure that your investment is
                                        constantly protected, optimized, and improved</p>
                                </div>

                                <div class="item-toggle-tab">
                                    <div class="toggle-tab-title"><span class="bg-color"><i class="icon ion-planet"></i></span>
                                        <h2 class="navi">Internet Services</h2>
                                    </div>
                                    <p class="desc toggle-tab-content silver">The Internet is one of the best and most
                                        challenging marketing and communications medium that we have ever seen. MICOUR
                                        VISIONS is poised to meet those challenges with a thorough understanding of
                                        this new and evolving technology. MICOUR
                                        VISIONS can quickly and easily set up and maintain your Web site, allowing you
                                        to provide information and services to
                                        your customers in an entertaining and speedy manner. We have experienced Web
                                        designers that use the best aspects of the
                                        Internet to provide maximum impact for your Web site. MICOUR VISIONS can also
                                        help you navigate the Internet by showing
                                        you where and how to get the information you need, when you need it.</p>
                                </div>
                                <div class="item-toggle-tab">
                                    <div class="toggle-tab-title"><span class="bg-color"><i class="icon ion-laptop"></i></span>
                                        <h2 class="navi">Software Development</h2>
                                    </div>
                                    <p class="desc toggle-tab-content silver">Sometimes, off the shelf applications
                                        cannot meet all of your needs. If this is your situation, MICOUR VISIONS will
                                        gladly custom design a solution for you. If you need a relational database
                                        management system, a custom front-end, or
                                        another utility, MICOUR VISIONS will create it quickly and easily. We will even
                                        enhance existing programs for you! 6
                                        Computers, Software and MiCourVisions</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="banner-adv overlay-image zoom-image">
                                <a href="#" class="adv-thumb-link"><img src="images/page/img-about.jpg" alt="" /></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Choise -->
                <div class="about-client">
                    <h2 class="title18 rale-font text-uppercase font-bold">This is us</h2>
                    <div class="about-client-slider">
                        <div class="wrap-item" data-autoplay="true" data-pagination="false" data-itemscustom="[[0,1],[560,2],[990,3]]">
                           <div class="item-about-client">
                                <div class="client-thumb"><a href="#"><img src="images/page/av5.jpg" alt="" /></a></div>
                                <div class="client-info">
                                    <p class="desc">To add value and to contribute to our clients' long term success
                                        and competitive strength by delivering an honest,
                                        transparent, credible, professional service and quality products.!</p>
                                    <h3 class="title14"><a href="#" class="color">Mission</a></h3>
                                </div>
                            </div>
                            <div class="item-about-client">
                                <div class="client-thumb"><a href="#"><img src="images/page/av1.jpg" alt="" /></a></div>
                                <div class="client-info">
                                    <p class="desc">Experienced and expertise in infotainment infusion!</p>
                                    <h3 class="title14"><a href="#" class="color">Motto</a></h3>

                                </div>
                            </div>
                            
                            <div class="item-about-client">
                                <div class="client-thumb"><a href="#"><img src="images/page/av2.jpg" alt="" /></a></div>
                                <div class="client-info">
                                    <p class="desc">Our objectives are to assist clients with various implementations
                                        of their projects, and we have confidence in our
                                        ability to generate the consensus and commitments necessary to succeed.

                                        We are prepared to stand behind our recommendations and to assist our clients
                                        with obtaining appropriate approvals to
                                        proceed.
                                    </p>
                                    <h3 class="title14"><a href="#" class="color">Objective</a></h3>
                                </div>
                            </div>
                            <div class="item-about-client">
                                <div class="client-thumb"><a href="#"><img src="images/page/av4.jpg" alt="" /></a></div>
                                <div class="client-info">
                                    <p class="desc">
                                    The company upholds the following values as a guideline to its operation and business transactions:
                                    <br>
                                    <ul class="list-group">
                                        <li class="list-group-item">Commitment</li>
                                        <li class="list-group-item">Customer Value</li>
                                        <li class="list-group-item">Teamwork</li>
                                        <li class="list-group-item">Professionalism</li>
                                        <li class="list-group-item">Flexibility / Adaptability</li>
                                        <li class="list-group-item">Social Responsibility</li>
                                    </ul>
                                    </p>
                                    <h3 class="title14"><a href="#" class="color">Our Values</a></h3>
                                </div>
                            </div>
                            <div class="item-about-client">
                                <div class="client-thumb"><a href="#"><img src="images/page/av.jpg" alt="" /></a></div>
                                <div class="client-info">
                                    <p class="desc">
                                    The following are the services we offer:
                                    <br>
                                    <ul class="list-group">
                                        <li class="list-group-item">Hardware, Consumables & Software Sales & Support</li>
                                        <li class="list-group-item">Network Installation & Support (Installations and Configuration)</li>
                                        <li class="list-group-item">Internet Services (Web design and administration)</li>
                                        <li class="list-group-item">Software Development</li>
                                        <li class="list-group-item">Computer Hardware Maintenance</li>
                                        <li class="list-group-item">Support Services (Training)</li>
                                        <li class="list-group-item">School Management systems</li>
                                    </ul>
                                    </p>
                                    <h3 class="title14"><a href="#" class="color">Services</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Client -->
            </div>
        </div>
    </div>
</section>
<!-- End Content -->
{{>footer}}