<!-- End Header -->

<section id="content">
    <div class="container">
        <!-- End Banner Slider -->
        <div class="bread-crumbs">
            <a href="/"><i class="icon ion-ios-home"></i></a>
            <a href="#">Laptop</a>
            <span>Dell</span>
        </div>
        <!-- End Bread Crumb -->
        <div class="content-pages">
            <div class="row">
                <div class="col-md-9 col-sm-offset-2 col-sm-8 col-sx-12">
                    <div class="title-product-detail">
                        <h2 class="title30 font-bold">{{product.title}}</h2>
                    </div>
                    <!-- End Title Product -->
                    <div class="detail-product detail-with-sidebar">
                        <div class="row">
                            <div class="col-md-7 col-sm-12 col-xs-12">
                                <div class="detail-gallery">
                                    <div class="mid">
                                        <img src="../{{product.image}}" alt="" />
                                    </div>
                                </div>
                                <!-- End Gallery -->
                            </div>
                            <div class="col-md-5 col-sm-12 col-xs-12">
                                <div class="detail-info">
                                    <div class="product-price">
                                        <ins class="font-bold"><span>${{product.price}}</span></ins>
                                    </div>
                                    <div class="product-rate">
                                        <div class="product-rating" style="width:100%"></div>
                                    </div>
                                    <p class="desc product-desc">Beautifully versatile 2-in-1 design with InfinityEdge
                                        display and great performance all in a remarkably mobile.</p>
                                    <div class="detail-attr-color border radius6">
                                        <strong class="text-uppercase">Color</strong><span class="gray">Violet</span>
                                        <ul class="list-inline-block filter-attr list-attr-color">
                                            <li><a href="#" style="background:#ffffff" class="border"></a></li>
                                            <li><a href="#" style="background:#e66054"></a></li>
                                            <li><a href="#" class="active" style="background:#d0b7cc"></a></li>
                                            <li><a href="#" style="background:#107a8e"></a></li>
                                            <li><a href="#" style="background:#b9cad2"></a></li>
                                            <li><a href="#" style="background:#a7bc93"></a></li>
                                            <li><a href="#" style="background:#d3b627"></a></li>
                                            <li><a href="#" style="background:#b4b3ae"></a></li>
                                            <li><a href="#" style="background:#502006"></a></li>
                                            <li><a href="#" style="background:#311e21"></a></li>
                                        </ul>
                                    </div>
                                    <ul class="list-inline-block detail-qty-cart">
                                        <li>
                                            <div class="detail-qty info-qty border">
                                                <label class="navi">Qty</label>
                                                <span class="qty-val">1</span>
                                                <a href="#" class="qty-down smoke"><i class="icon ion-ios-minus-empty"></i></a>
                                                <a href="#" class="qty-up smoke"><i class="icon ion-ios-plus-empty"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="addcart-link shop-button bg-color" href="#"><i class="icon ion-android-cart"></i>Add
                                                to Cart</a>
                                        </li>
                                        <li>
                                            <a href="#" class="wishlist-link color"><i class="title30 icon ion-android-favorite-outline"></i><span>Add
                                                    to Wishlist</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Detail Product -->
                    <div class="detail-tabs">
                        <ul class="title-best-tab list-inline-block">
                            <li class="active"><a href="#tab1" data-toggle="tab" class="shop-button">Description</a></li>
                            <li><a href="#tab2" data-toggle="tab" class="shop-button">Additional Information</a></li>
                            <li><a href="#tab3" data-toggle="tab" class="shop-button">Reviews</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab1" class="tab-pane active">
                                <div class="tab-desc">
                                    <h3 class="title18">Details</h3>
                                    <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et
                                        turpis in tortor ullamcorper condimentum. Quisque in turpis felis. Praesent
                                        adipiscing bibendum porttitor. Vestibulum imperdiet, leo non pretium iaculis,
                                        elit nisi sagittis libero, ornare laoreet velit purus at dui. Fusce aliquet
                                        egestas risus non semper. Donec sit amet nibh enim, ut congue felis. Duis
                                        dictum convallis purus. Suspendisse potenti. Sed et nisl nulla. Vivamus rutrum
                                        adipiscing varius. Suspendisse interdum, nulla ac scelerisque cursus, dolor
                                        mauris venenatis metus, et vestibulum nibh est condimentum turpis. Fusce quis
                                        ultrices elit. Fusce est sapien, varius ut fermentum vel, blandit non purus</p>
                                    <div class="tab-desc-thumb text-center"><img src="../images/shop/desc.jpg" alt="" /></div>
                                    <p class="desc">Quisque in turpis felis. Praesent adipiscing bibendum porttitor.
                                        Vestibulum imperdiet, leo non pretium iaculis, elit nisi sagittis libero,
                                        ornare laoreet velit purus at dui. Fusce aliquet egestas risus non semper.
                                        Donec sit amet nibh enim, ut congue felis. Duis dictum convallis purus.
                                        Suspendisse potenti. Sed et nisl nulla. Vivamus rutrum adipiscing varius.
                                        Suspendisse interdum, nulla ac scelerisque cursus, dolor mauris venenatis
                                        metus, et vestibulum nibh est condimentum turpis. Fusce quis ultrices elit.
                                        Fusce est sapien, varius ut fermentum vel, blandit non purus</p>
                                </div>
                            </div>
                            <div id="tab2" class="tab-pane">
                                <div class="detail-addition">
                                    <table class="table table-bordered table-striped">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <p class="desc">Frame Material: Wood</p>
                                                </td>
                                                <td>
                                                    <p class="desc">Seat Material: Wood</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="desc">Adjustable Height: No</p>
                                                </td>
                                                <td>
                                                    <p class="desc">Seat Style: Saddle</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="desc">Distressed: No</p>
                                                </td>
                                                <td>
                                                    <p class="desc">Custom Made: No</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="desc">Number of Items Included: 1</p>
                                                </td>
                                                <td>
                                                    <p class="desc">Folding: No</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="desc">Stackable: No</p>
                                                </td>
                                                <td>
                                                    <p class="desc">Cushions Included: No</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="desc">Arms Included: No</p>
                                                </td>
                                                <td>
                                                    <div class="product-more-info">
                                                        <p class="desc">Legs Included: Yes</p>
                                                        <ul class="list-none">
                                                            <li><a href="#">Leg Material: Wood</a></li>
                                                            <li><a href="#">Number of Legs: 4</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="desc">Footrest Included: Yes</p>
                                                </td>
                                                <td>
                                                    <p class="desc">Casters Included: No</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="desc">Nailhead Trim: No</p>
                                                </td>
                                                <td>
                                                    <p class="desc">Weight Capacity: 225 Kilogramm</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="desc">Commercial Use: No</p>
                                                </td>
                                                <td>
                                                    <p class="desc">Country of Manufacture: Vietnam</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="tab3" class="tab-pane">
                                <div class="detail-tab-review">
                                    <h3 class="title14">2 Review for "Retailer Car Product"</h3>
                                    <ul class="list-none list-tags-review">
                                        <li>
                                            <div class="review-author">
                                                <a href="#"><img src="../images/shop/author1.jpg" alt=""></a>
                                            </div>
                                            <div class="review-info">
                                                <p class="review-header"><a href="#"><strong>7up-theme</strong></a> –
                                                    March 30, 2017:</p>
                                                <div class="product-rate">
                                                    <div class="product-rating" style="width:100%"></div>
                                                </div>
                                                <p class="desc">Really a nice stool. It was better than I expected in
                                                    quality. The color is a rich, honey brown and looks a little
                                                    lighter than pictured but still a great stool for the money.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="review-author">
                                                <a href="#"><img src="../images/shop/author2.jpg" alt=""></a>
                                            </div>
                                            <div class="review-info">
                                                <p class="review-header"><a href="#"><strong>7up-theme</strong></a> –
                                                    March 30, 2017:</p>
                                                <div class="product-rate">
                                                    <div class="product-rating" style="width:100%"></div>
                                                </div>
                                                <p class="desc">Really a nice stool. It was better than I expected in
                                                    quality. The color is a rich, honey brown and looks a little
                                                    lighter than pictured but still a great stool for the money.</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="add-review-form">
                                        <h3 class="title14">Add a Review</h3>
                                        <p>Your email address will not be published. Required fields are marked *</p>
                                        <form class="review-form">
                                            <div>
                                                <label>Name *</label>
                                                <input name="name" id="name" type="text">
                                            </div>
                                            <div>
                                                <label>Email *</label>
                                                <input name="email" id="email" type="text">
                                            </div>
                                            <div>
                                                <label>Your Rating</label>
                                                <div class="product-rate">
                                                    <div class="product-rating" style="width:100%"></div>
                                                </div>
                                            </div>
                                            <div>
                                                <label>Your Review *</label>
                                                <textarea name="messasge" id="message" cols="30" rows="10"></textarea>
                                            </div>
                                            <div>
                                                <input class="shop-button radius4" value="Submit" type="submit">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Detail Tab -->
                    <div class="product-related">
                        <h2 class="title24 font-bold"><span>Related Products</span></h2>
                        <div class="product-trend-slider">
                            <div class="wrap-item group-navi" data-pagination="false" data-navigation="true"
                                data-itemscustom="[[0,1],[560,2],[767,3],[768,2],[990,3]]">
                                <div class="item-product text-center style1">
                                    <div class="product-thumb">
                                        <a href="#" class="product-thumb-link zoom-thumb"><img src="../images/product/fb-tech-laptop-02.png"
                                                alt="" /></a>
                                        <a href="quick-view.html" class="quickview-link fancybox fancybox.iframe">Quick
                                            view</a>
                                    </div>
                                    <div class="product-info">
                                        <a href="#" class="cat-parent color">Mobile</a>
                                        <h3 class="title16 font-bold product-title"><a href="#">IPhone7 plus ID747</a></h3>
                                        <div class="product-price">
                                            <del class="silver"><span>$490.00 </span></del>
                                            <ins class="font-bold"><span>$245.00</span></ins>
                                        </div>
                                        <div class="product-extra-link style1">
                                            <a href="#" class="wishlist-link color title30"><i class="icon ion-android-favorite-outline"></i></a>
                                            <a href="#" class="addcart-link shop-button color">Add to cart</a>
                                            <a href="#" class="compare-link color title30"><i class="icon ion-ios-checkmark-outline"></i></a>
                                        </div>
                                        <div class="product-rate">
                                            <div class="product-rating" style="width:100%"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-product text-center style1">
                                    <div class="product-thumb">
                                        <a href="#" class="product-thumb-link zoom-thumb"><img src="../images/product/fb-tech-laptop-07.png"
                                                alt="" /></a>
                                        <a href="quick-view.html" class="quickview-link fancybox fancybox.iframe">Quick
                                            view</a>
                                    </div>
                                    <div class="product-info">
                                        <a href="#" class="cat-parent color">Mobile</a>
                                        <h3 class="title16 font-bold product-title"><a href="#">Lenovo smartphone vibe
                                                k6 note hero</a></h3>
                                        <div class="product-price">
                                            <del class="silver"><span>$490.00 </span></del>
                                            <ins class="font-bold"><span>$245.00</span></ins>
                                        </div>
                                        <div class="product-extra-link style1">
                                            <a href="#" class="wishlist-link color title30"><i class="icon ion-android-favorite-outline"></i></a>
                                            <a href="#" class="addcart-link shop-button color">Add to cart</a>
                                            <a href="#" class="compare-link color title30"><i class="icon ion-ios-checkmark-outline"></i></a>
                                        </div>
                                        <div class="product-rate">
                                            <div class="product-rating" style="width:100%"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-product text-center style1">
                                    <div class="product-thumb">
                                        <a href="#" class="product-thumb-link zoom-thumb"><img src="../images/product/fb-tech-smartphone-03.png"
                                                alt="" /></a>
                                        <a href="quick-view.html" class="quickview-link fancybox fancybox.iframe">Quick
                                            view</a>
                                    </div>
                                    <div class="product-info">
                                        <a href="#" class="cat-parent color">Watches</a>
                                        <h3 class="title16 font-bold product-title"><a href="#">Ella angle2 1024x1024</a></h3>
                                        <div class="product-price">
                                            <del class="silver"><span>$490.00 </span></del>
                                            <ins class="font-bold"><span>$245.00</span></ins>
                                        </div>
                                        <div class="product-extra-link style1">
                                            <a href="#" class="wishlist-link color title30"><i class="icon ion-android-favorite-outline"></i></a>
                                            <a href="#" class="addcart-link shop-button color">Add to cart</a>
                                            <a href="#" class="compare-link color title30"><i class="icon ion-ios-checkmark-outline"></i></a>
                                        </div>
                                        <div class="product-rate">
                                            <div class="product-rating" style="width:100%"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-product text-center style1">
                                    <div class="product-thumb">
                                        <a href="#" class="product-thumb-link zoom-thumb"><img src="../images/product/fb-tech-watch-03.png"
                                                alt="" /></a>
                                        <a href="quick-view.html" class="quickview-link fancybox fancybox.iframe">Quick
                                            view</a>
                                    </div>
                                    <div class="product-info">
                                        <a href="#" class="cat-parent color">Mobile</a>
                                        <h3 class="title16 font-bold product-title"><a href="#">Lenovo smartphone vibe
                                                k6 note hero</a></h3>
                                        <div class="product-price">
                                            <del class="silver"><span>$490.00 </span></del>
                                            <ins class="font-bold"><span>$245.00</span></ins>
                                        </div>
                                        <div class="product-extra-link style1">
                                            <a href="#" class="wishlist-link color title30"><i class="icon ion-android-favorite-outline"></i></a>
                                            <a href="#" class="addcart-link shop-button color">Add to cart</a>
                                            <a href="#" class="compare-link color title30"><i class="icon ion-ios-checkmark-outline"></i></a>
                                        </div>
                                        <div class="product-rate">
                                            <div class="product-rating" style="width:100%"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-product text-center style1">
                                    <div class="product-thumb">
                                        <a href="#" class="product-thumb-link zoom-thumb"><img src="../images/product/fb-tech-laptop-05.png"
                                                alt="" /></a>
                                        <a href="quick-view.html" class="quickview-link fancybox fancybox.iframe">Quick
                                            view</a>
                                    </div>
                                    <div class="product-info">
                                        <a href="#" class="cat-parent color">Watches</a>
                                        <h3 class="title16 font-bold product-title"><a href="#">Ella angle2 1024x1024</a></h3>
                                        <div class="product-price">
                                            <del class="silver"><span>$490.00 </span></del>
                                            <ins class="font-bold"><span>$245.00</span></ins>
                                        </div>
                                        <div class="product-extra-link style1">
                                            <a href="#" class="wishlist-link color title30"><i class="icon ion-android-favorite-outline"></i></a>
                                            <a href="#" class="addcart-link shop-button color">Add to cart</a>
                                            <a href="#" class="compare-link color title30"><i class="icon ion-ios-checkmark-outline"></i></a>
                                        </div>
                                        <div class="product-rate">
                                            <div class="product-rating" style="width:100%"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-product text-center style1">
                                    <div class="product-thumb">
                                        <a href="#" class="product-thumb-link zoom-thumb"><img src="../images/product/fb-tech-watch-06.png"
                                                alt="" /></a>
                                        <a href="quick-view.html" class="quickview-link fancybox fancybox.iframe">Quick
                                            view</a>
                                    </div>
                                    <div class="product-info">
                                        <a href="#" class="cat-parent color">Mobile</a>
                                        <h3 class="title16 font-bold product-title"><a href="#">Lenovo smartphone vibe
                                                k6 note hero</a></h3>
                                        <div class="product-price">
                                            <del class="silver"><span>$490.00 </span></del>
                                            <ins class="font-bold"><span>$245.00</span></ins>
                                        </div>
                                        <div class="product-extra-link style1">
                                            <a href="#" class="wishlist-link color title30"><i class="icon ion-android-favorite-outline"></i></a>
                                            <a href="#" class="addcart-link shop-button color">Add to cart</a>
                                            <a href="#" class="compare-link color title30"><i class="icon ion-ios-checkmark-outline"></i></a>
                                        </div>
                                        <div class="product-rate">
                                            <div class="product-rating" style="width:100%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Product Related -->
                </div>
            </div>
        </div>
        <!-- End Content Pages -->
    </div>
</section>
<!-- End Content -->